{
    "browser": "chrome",
    "cid": "tingyun",
    "environment": "{{ deploy_environment }}",
    "headless_mode": true,
    "headless_chromium": 69,
    "python": 3.6,
    "base_url": "https://www.{{ tested_domain }}/",
    "timeout": 30
}