{
    "allure_results_dir": "{{ allure_results_dir }}",
    "base_url": "{{ tested_site }}",
    "browser": "chrome",
    "cid": "tingyun",
    "environment": "{{ deploy_environment }}",
    "headless_mode": true,
    "headless_chromium": 69,
    "logs_dir": "logs",
    "python": 3.7,
    "screenshots_dir": "{{ allure_screenshots_dir }}",
    "timeout": 15
}