{
    "allure_results_dir": "{{ allure.results_dir }}",
    "base_url": "{{ test.site_url }}",
    "browser": "chrome",
    "browser_version": "{{ chrome.version }}",
    "cid": "{{ test.cid }}",
    "environment": "{{ deploy_environment }}",
    "headless_mode": true,
    "logs_dir": "logs",
    "python": "{{ python.version }}",
    "screenshots_dir": "{{ allure.screenshots_dir }}",
    "timeout": {{ test.timeout }}
}