---
alarm_system_api: ''
allure_results_dir: 'allure_results'
allure_screenshots_dir: 'screenshots'
aws_ec2_ami: 'ami-04403ee6f0e6b7a9e'
aws_ec2_inbounds:
  - ip: '222.126.242.202/32'
    port:
      - 22
    description: 'ssh from Shanghai office'
  - ip: '222.126.242.203/32'
    port:
      - 22
    description: 'ssh from Shanghai office'
aws_event_schedule: 'cron(*/15 1-9 ? * MON-FRI *)'
aws_loadbalancer_inbounds:
  - ip: '222.126.242.202/32'
    port:
      - 80
    description: 'visit from Shanghai office'
  - ip: '222.126.242.203/32'
    port:
      - 80
    description: 'visit from Shanghai office'
aws_s3_versioned: False
aws_sns_subject: 'There Are Failed Tests Occurred on the {{ tested_domain.capitalize() }}'
aws_sns_topic: 'Tell Listeners That There Are Tests Failed on {{ tested_domain.capitalize() }}'
aws_subscribers: [{% for subscriber in subscribers %}'{{ subscriber }}'{{ "," if not loop.last else "" }} {% endfor %}]
aws_tags:
  Name:
  app role:
  application owner: '{{ owner }}'
  application: 'monitoring for thermofisher.cn'
  businessunit: 'n/a'
  costcenter: 'n/a'
  data classification: 'internal use'
  division: 'n/a'
  environment: '{{ deploy_environment }}'
  project: '{{ project | lower }}'
  snow support: 'cn.corp.mst.digital operations'
aws_vpc_cidr: '10.5.0.0/16'
environment: '{{ deploy_environment | lower | replace(' ', '-') }}'
project: '{{ project | lower | replace(' ', '-') }}'
tested_site: 'https://www.{{ tested_domain }}/'