{
  "database": {
    "adapter": "postgresql+psycopg2",
    "host": "{{ database.host }}",
    "port": "{{ database.port }}",
    "database": "{{ database.database }}",
    "user": "{{ database.user }}",
    "password": "{{ database.password }}"
  }
}